/*////LOGO/CABECERA////*/
#ahc_logo{
  margin-bottom: 25px;
  font-size: 2em;
  background-size: contain !important;
  width: 306px;
  height: 100px;
  margin-left: 10px;
}
#ahc_logo_heading{
  margin-bottom:20px;
  font-size:2em;
  margin-left: 14px;
}
/*////CONTENEDOR GENERAL////*/
.ahc_wrap{
  overflow: hidden;
}
/*////PESTAÑA CALENDARIO////*/
.ahc_conTitle{
  color: #fff;
  text-align: center;
  background: #4F4F5D;
  margin: 0;
  padding: 10px;

}
/*Generador del Calendario*/
#ahc_container1{
  width: 280px;
  float:left;
  box-sizing: border-box;
  min-height: 297px;
  margin-bottom: 15px;
}
#ahc_container1 form{
  width: 100%;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}
#ahc_container3 form{
  padding: 20px 20px 0 20px;  
}
#ahc_container1 form .code_container{
  text-align: center;
}
#ahc_container1 form label, #ahc_container2 #formularioCal label:not([id="ahc_logo_url"]){
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}
#ahc_container1 form label{
  width:100%;
  margin-bottom: 10px;
}
#ahc_container1 form input{
  margin-bottom: 10px;
  width: 100%;
  display: block;
}
#ahc_container1 #ahc_externo, #ahc_externo1, #ahc_container3 form #ahc_update{
  background: #0085ba;
  border-color: #0085ba;
  border-width: 0;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 100px;
  margin: 0 auto;
}
#ahc_container3 form #ahc_update{
  padding: initial;
}
#ahc_externo1{
  margin: 10px auto 0;
}
/*Editor de Estilos*/
#ahc_container2{
  float: left;
  box-sizing: border-box;
  min-height: 297px;
  margin-left: .9%;
  min-width: 25%;
  background: #fff;
}

#ahc_container2 #formularioCal{
  width: 100%;
  background: #fff;
  padding: 20px 20px 0px 20px;
  box-sizing: border-box;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-height: 446px;
}
#ahc_container2 #formularioCal label:not([id="ahc_logo_url"]){
  margin-bottom: 10px;
}
#ahc_container2 #formularioCal label[id="ahc_logo_url"]{
  display: inline-block;
  font-size: 12px
}
#ahc_container2 #formularioCal input[type='color']{
  margin-bottom: 10px;
  height: 28px;
}
#ahc_container2 #formularioCal input[type='number']{
  margin-bottom: 10px;
  height: 28px;
  width: 50px;
}
#ahc_container2 #formularioCal input[type='text']:first-of-type{
  width: 60%;
}
#ahc_container2 #formularioCal .submit{
  text-align: center;
}
#ahc_container2 #formularioCal .submit #submit{
  width: 165px;
}
#ahc_container2 #formularioCal img{
  display:block;
  border: 1px solid #222;
  margin: 10px auto 0;
}
#ahc_container2 .flexCateg{
  display:flex;
  align-items: center;
  text-align: center;
}
#ahc_container2 .flexCateg p{
  width: 45%;
}
#ahc_container2 .flexCateg span{
  width: 10%;
}
#ahc_shortcode_text{
  font-weight: normal;
  margin-left: 15px;
  box-sizing: border-box;
}
#multiEstab * {
  display: block;
  width: 100%;
}
#multiEstab input{
  margin-bottom: 10px;
}
/*////INTEGRACION////*/
#ahc_container3{
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
  text-align: center;
}
#ahc_container3 div{
  background: #fff;
  padding: 15px;

  min-height: 136px;
}
#ahc_container3 p{
  margin: 0;
  font-size: 16px;
}
/*////PREVISUALIZACION////*/
#ahc_container4, #ahc_container5{

  float: left;
  box-sizing: border-box;
  min-height: 297px;
  margin-left: .9%;
}
#ahc_container4 #ahc_cont4_cont{
  background: #fff;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-height: 416px;
}
/*////PESTAÑA BOTONES////*/
#Calendario_2 div{
  background: #fff;
  margin-top: 15px;
  padding: 1px 0;
  padding-right: 10px;
  overflow: hidden;
  border-radius: 15px;
}
#Calendario_2 div h3{
  margin-left: 10px;
}
#Calendario_2 div h3 i{
  text-decoration: underline;
}
#Calendario_2 div ul{

  margin-left: 10px;
  list-style: disc;
  float:left;
  width: 100%;
}
#Calendario_2 div ul li:first-of-type{
  line-height: 2;
}
#Calendario_2 div ul li:first-of-type span:last-of-type{
  width: 25%;
}
#Calendario_2 div ul li:first-of-type span{
  font-weight: bolder;
}
/*////PESTAÑA AYUDA////*/
#Calendario_3  #ahc_cal3_cont{
  background: #fff;
  padding: 10px ;
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#Calendario_3 #ahc_ul1{
  list-style: disc;
  margin-left: 25px;
}
#Calendario_3 #ahc_ul2{
  padding: 0 10px;
  list-style: circle;
}

/*////SISTEMA DE PESTAÑAS////*/
div.ahc_tab {
  overflow: hidden;
  background-color: transparent;
}
div.ahc_tab button {
  background-color: #ccc;
  float: left;
  border:none;
  outline: none;
  cursor: pointer;
  padding: 6px 16px;
  transition: 0.3s;
}
div.ahc_tab button:first-child {

}
div.ahc_tab button:last-child {

}
div.ahc_tab button:not(:first-child) {
  border-left: 1px solid #bbb;
}
div.ahc_tab button:hover {
  background-color: #ddd;
}
div.ahc_tab button.active {
  background: #4F4F5D;
  color: #fff;
  font-weight: bold;
}
.ahc_tabcontent {
  display: none;
  margin-top: 15px;
}
#Calendario_1{
  display: block;
  overflow: hidden;
}
/*////GENERAL WP////*/
#wpcontent {
  padding-right: 20px;
}
#wpfooter {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  color: #555d66;
}
#check-availability{
  -webkit-appearance:none;
}

.ahc-row {
  display: flex;
  align-items: center;
  margin: 30px auto;
  background: #fff;
  width: 75%;
  margin-bottom: 30px;
  padding: 20px;
}
.ahc-widget-wrap {
  width: 33.333%;
  text-align: center;
  padding: 15px;
}
.ahc-button-wrapper {
  background: #0073aa;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
  width: 50%;
  margin: 0 auto;
}
.ahc-button-wrapper a .ahc-button-text{
  color:#fff;
}
/*////MEDIA QUERIES////*/
@media (max-width:1882px){
  #ahc_container1{
    width: 41%;
  }
  #ahc_container2{
    width: 57%;
    float: right;
  }
  #ahc_container3{
    width: 100%;
  }
  #ahc_container4 {
    width: 100%;
    clear: left;
    margin-top: 15px;
  }
}
@media (max-width:1373px){
  #ahc_container1{
    width: 34%;
  }
  #ahc_container2{
    width: 65%;
    float: left;
  }
  #ahc_container4{
    clear: none;
  }
}
@media (max-width:1249px){
  #ahc_container1 br{
    display: none;
  }
  #ahc_container1 #ahc_externo{
    clear: both;
  }
  #ahc_container1{
    width: 100%;
    float: none;
  }
  #ahc_container2{
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 15px;
  }
  #ahc_container3{
    float: none;
    margin-left: 0;
  }
  #ahc_container1 form .code_container:first-of-type{
    float: left;
    width: 47%;
  }
  #ahc_container1 form .code_container:last-of-type{
    float: right;
    width: 47%;
  }
  #ahc_container3 div{
    min-height: 0;
  }
}
@media (max-width:580px){
  #ahc_container1{
    float:none !important;
    width: 100% !important;
    min-height: 0 !important;
    margin-bottom: 0 !important;
  }
  #ahc_container2{
    float:none !important;
    margin-top: 15px;
    width: 100% !important;
    clear: both;
  }
  #ahc_container1 form .code_container:last-of-type {
    float: right;
    width: 100%;
  }
  #ahc_container4, #ahc_container5 {
    width: 100%;
    min-height: 150px;

  }
}
