body {
  margin: 0;
}
.boxCategContainer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1%;
}
.boxCategContainer *, .boxCateg, .boxCateg * {
  box-sizing: border-box;
}
.boxCategContainer .boxCateg, .boxCateg  {
  width: 33%;
  padding: 10px;
  padding-bottom: 60px;
  border: 1px solid #222;
  margin-bottom: 10px;
  min-height: 200px;
  position: relative;
}
.boxCateg.boxSingle{
  width: 100%;
}
.boxCateg.boxSingle .parent-sample {
  position: relative;
  width: auto;
  max-width: none;
}
.boxCateg.boxSingle .parent-sample .photo-container {
  padding-bottom: 55%;
}
.boxCategContainer .boxCateg a, .boxCateg a {
  padding: 10px;
  background: #0073AA;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.boxCategContainer .boxCateg:not(:nth-child(3n)) {
  margin-right: .5%;
}
.engineIconCont {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.engineIcon {
  display: flex;
  margin: 5px;
  width: auto;
  font-size: 12px;
  background: #f1f1f1;
  padding: 5px 15px;
  border-radius: 5px;
  align-items: center;
  width: fit-content;
}
.engineIcon img {
  cursor: help;
}
.parent-sample {
  position: relative;
  width: 100%;
  max-width: 600px;
}
.parent-sample .photo-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 90%;
}
.parent-sample .photo-container .gallery-roundup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parent-sample .photo-container .gallery-roundup .photo {
  user-select: none;
  position: absolute;
  box-sizing: border-box;
  background-clip: content-box;
  padding: 5px;
  overflow: hidden;
  z-index: 1;
}
.parent-sample .photo-container .gallery-roundup .photo img {
  object-fit: cover !important;
  width: 100% !important;
  height: 100% !important;
}
.parent-sample .photo-container .gallery-roundup .photo.stage {
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}
.parent-sample .photo-container .gallery-roundup div[class*="th"] {
  opacity: 0.7;
  top: 90%;
  cursor: pointer;
  z-index: 2;
  width: 9.090909090909%;
}
.parent-sample .photo-container .gallery-roundup div[class*="th"]:hover {
  opacity: 1;
}
.parent-sample .photo-container .gallery-roundup .th1 {
  left: 0;
}
.parent-sample .photo-container .gallery-roundup .th2 {
  left:9.09090909%;
}
.parent-sample .photo-container .gallery-roundup .th3 {
  left: 18.18181818%;
}
.parent-sample .photo-container .gallery-roundup .th4 {
  left: 27.27272727%;
}
.parent-sample .photo-container .gallery-roundup .th5 {
  left: 36.36363636%;
}
.parent-sample .photo-container .gallery-roundup .th6 {
  left: 45.45454545%;
}
.parent-sample .photo-container .gallery-roundup .th7 {
  left: 54.54545454%;
}
.parent-sample .photo-container .gallery-roundup .th8 {
  left: 63.63636363%;
}
.parent-sample .photo-container .gallery-roundup .th9 {
  left: 72.72727272%;
}
.parent-sample .photo-container .gallery-roundup .th10 {
  left: 81.81818181%;
}
.parent-sample .photo-container .gallery-roundup .th11 {
  left: 90.90909090%;
}

.CatEn, .CatIt, .CatFr, .CatDe, .CatCat, .CatPt, .CatRu, .ahcIconImgEn, .ahcIconImgFr, .ahcIconImgIt, .ahcIconImgDe, .ahcIconImgCat, .ahcIconImgPt, .ahcIconImgRu{
  display:none;
}
/*# sourceMappingURL=style.css.map */
