.boxCategContainer {
    display: block;
    flex-wrap: none;
    box-sizing: border-box;
    padding: 1%;
}
.boxCategContainer .boxCateg, .boxCateg {
    width: 100%;
    padding: 10px;
    padding-bottom: 60px;
    border: none;
    margin-bottom: 10px;
    min-height: 200px;
    position: relative;
    overflow: hidden;
}
.boxCateg.boxSingle .parent-sample, .parent-sample {
    position: relative;
    width: 100%;
    max-width: 600px;
    float: left;
    margin-right: 15px;
}
.ahc_serv{
  margin-bottom: 0px;
}
